$roboto-font-path: "../node_modules/materialize-sass/fonts/roboto/";
@import "../node_modules/materialize-sass/sass/materialize";

// https://stackoverflow.com/a/6202729/1561140
details summary::-webkit-details-marker {
  display:none;
}

details summary {
  user-select: none;
  outline: none;
}

body {
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.output-form {
  outline: none;
  user-select: none;
  font-family: monospace;
  word-wrap: break-word;
}

#text_output {
  user-select: text;
}

.revealpass {
  margin-top: 2em;
}
